body{
    height: 100vh;
    background-image: url('photo-1586075010923-2dd4570fb338.avif');
    background-size: cover;
    font-family: 'Zen Kurenaido', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}

.container2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    border-radius: 25px;
    width: 200px;
    height: 300px;
    border: black 2px solid;
    box-shadow: -30px 30px 20px;
    color: rgba(0,0,0,0.3);

}


.cool{
    background-color: pink;
}