body{
    height: 100vh;
    background-image: url('photo-1586075010923-2dd4570fb338.avif');
    background-size: cover;
    font-family: 'Zen Kurenaido', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}

.container2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    display: flex;
    justify-content: center;
    align-content: center;

    
    width: 200px;
    height: 300px;
    border: black 2px solid;
    color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.box2{
    display: flex;
    justify-content: center;
    align-content: center;

    width: 200px;
    height: 300px;
    border: black 2px solid;
    color: rgba(0,0,0,0.3);
}

.box:hover{
    width: 250px;
    height: 350px; 
    transition: 0.5s;
    box-shadow: -30px 30px 20px;
}

.cool{
    background-color: pink;
}

p{
text-size-adjust: large;
}

img{
    height: 100%;
    width: 100%;
}

#sec{
    display: flex;
    justify-content: center;
    align-content: center;

    width: 200px;
    height: 300px;
    
}